.App {
  text-align: center;
  justify-content: center;
  width:50%;
  margin-left: 400px;
}
.barchart{
  margin-top: 5px;
width:70%;
border: 2px solid grey;

}
.doughnutChart{
  margin-top: 5px;
  width:70%;
  border: 2px solid grey;
}
.paiChart{
  margin-top: 5px;
  width:70%;
  border: 2px solid grey;
}
.lineChart{
  margin-top: 5px;
  width:70%;
  border: 2px solid grey;
}